/* 

.App {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.header-button {
  margin: 0 10px;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header-button.active, .header-button:hover {
  background-color: #007bff;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.section {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.section a {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
}

.section a:hover {
  background-color: #0056b3;
} */

.App {
  font-family: Arial, sans-serif;
  text-align: center; /* Center text by default */
}

.app-header {
  margin: 20px 0;
}

.header 
{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header-button {
  margin: 0 10px;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header-button.active, .header-button:hover {
  background-color: #007bff;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.section {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.section a {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
}

.section a:hover {
  background-color: #0056b3;
}
